# Python
__pycache__/
*.py[cod]
*.so

# Jupyter notebooks
.ipynb_checkpoints/
*.autosave.ipynb

# VSCode or IDE config files
.vscode/
.idea/

# Virtual environments
.env/
venv/
env/

# OS-specific
.DS_Store
Thumbs.db

# Data files (optional: use if data shouldn't be versioned)
*.xls
*.xlsx
*.csv




Add .gitignore to exclude temp and env files
